{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":5,"column":0},"end":{"row":8,"column":16},"action":"remove","lines":["aws-lambda-builders==0.6.0","aws-sam-cli==0.38.0","aws-sam-translator==1.19.0","awscli==1.16.308"],"id":2}],[{"start":{"row":14,"column":0},"end":{"row":14,"column":16},"action":"remove","lines":["cloud-init==19.3"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":37,"column":20},"end":{"row":37,"column":20},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1578900200972,"hash":"db5c815f00c3c3e5edc7e8ef8ba8ca0fffdbfdf0"}